doctype html
html
  head
    title ATLAS
    link(href='/styles/atlas.css', rel='stylesheet')
    link(href='/styles/stars.css', rel='stylesheet')
    link(rel="icon" type="image/png" href="images/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css')
  body
    #stars
    #stars2
    #stars3
    .container
        h1#heading ATLAS
        img#world(src="/images/world.png")
        img#clouds(src="/images/clouds.png")
        button(type='button' onClick="tryPlay()") Play Now
        p#mess
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/scripts/libs/plena-min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/gameLoading.js")
    script(src="/scripts/atlas/assets.js")
    script(src="/scripts/atlas/game/model.js")
    script(src="/scripts/atlas/game/world.js")
    script(src="/scripts/atlas/game/nation.js")
    script(src="/scripts/atlas/game/nation_mods.js")
    script(src="/scripts/atlas/screen/screen.js")
    script(src="/scripts/atlas/screen/worldScreen.js")
    script(src="/scripts/atlas/screen/storeScreen.js")
    script(src="/scripts/atlas/screen/cityScreen.js")
    script(src="/scripts/atlas/atlas.js")